* {
    box-sizing: border-box;
    padding: 0 ;
    margin: 0;
}

body {
    background-color: darkkhaki;
}

.header {
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    width: 100%;
}

.header h1 {
    display: inline;
}

.header nav {
    float: right;
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.header nav ul  {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
}

.about-me {
    width: 25%;
    margin-left: 30px;
    background-color: darkslateblue;
    display: block;
    margin-bottom: 100px;
    border-right: 5px solid black;
}

.work {
    width: 25%;
    margin-left: 30px;
    display: block;
    background-color: darkslateblue;
    height: 400px;
    border-right: 5px solid black;
    position: absolute;


}

.about-me .paragraph {
    width: 60%;
    display: inline-flex;
    position: absolute;
    margin-left: 200px;
    justify-content: center;
}



.about-me h2{
    display: inline;
    font-size: 50px;
    padding: 20px;

}

.work h2{
    display: flex;
    font-size: 50px;
   
}

.card {
    width: 600px;
    height: 200px;
    border: 5px solid black;
    margin-left: 500px ;
    position: absolute;
    top: 0px;
  
    
}
